# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
# The base URL of your application.
# This is used for generating absolute URLs for various features like social logins and webhooks.
# In development, this is typically http://localhost:3000.
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js & Clerk)
# -----------------------------------------------------------------------------
# The base URL of your NextAuth.js instance.
# This should be the same as NEXT_PUBLIC_APP_URL.
NEXTAUTH_URL='http://localhost:3000'
# A secret used to sign and encrypt cookies and tokens.
# You can generate a new secret with `openssl rand -base64 32`.
NEXTAUTH_SECRET='1'

# Your Clerk publishable key.
# This is a public key that can be used in your frontend code.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='1'
# Your Clerk secret key.
# This is a private key that should only be used on your server.
CLERK_SECRET_KEY='1'

# Your GitHub OAuth application client ID.
# This is used for GitHub social login.
GITHUB_CLIENT_ID='1'
# Your GitHub OAuth application client secret.
# This is used for GitHub social login.
GITHUB_CLIENT_SECRET='1'

# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
# Your Resend API key.
# This is used to send transactional emails.
RESEND_API_KEY='1'
# The email address that emails will be sent from.
RESEND_FROM='1'

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# Your Stripe API key.
# This is used to process payments and manage subscriptions.
STRIPE_API_KEY="1"
# Your Stripe webhook secret.
# This is used to verify that webhooks are coming from Stripe.
STRIPE_WEBHOOK_SECRET="1"

# The ID of your standard product in Stripe.
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
# The ID of your standard monthly price in Stripe.
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"

# The ID of your pro product in Stripe.
NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
# The ID of your pro monthly price in Stripe.
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"
# The ID of your pro yearly price in Stripe.
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID="price_"

# The ID of your business product in Stripe.
NEXT_PUBLIC_STRIPE_BUSINESS_PRODUCT_ID="prod_"
# The ID of your business monthly price in Stripe.
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PRICE_ID="price_"
# The ID of your business yearly price in Stripe.
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PRICE_ID="price_"

# -----------------------------------------------------------------------------
# Analytics (PostHog)
# -----------------------------------------------------------------------------
# Your PostHog API key.
# This is used for product analytics.
NEXT_PUBLIC_POSTHOG_KEY=" "
# The URL of your PostHog instance.
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# -----------------------------------------------------------------------------
# Admin & Debugging
# -----------------------------------------------------------------------------
# A comma-separated list of email addresses that have admin privileges.
ADMIN_EMAIL="admin@saasfly.io,root@saasfly.io"

# A flag to enable or disable NextAuth.js debug mode.
IS_DEBUG=false


# Your OpenAI API key.
# This is used for the AI brainstorming feature.
OPENAI_API_KEY='1'
